*{
    margin: 0px;
    padding: 0px;
}
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(18, 38, 67, 0.5); 
    z-index: -20; 

  }
  #overlay2 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.204),rgba(0, 0, 0, 0.047),transparent);
    z-index: -21; 

  }

body{
    background-image: url(../images/ogBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    background-color: rgb(30, 0, 255);
    color: white;
}

.navigation{
    width: 100%;
    height: 55px;
    background-color: rgb(2, 28, 107);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    position: relative ;
    margin-left: 20px;
    font-family: "Lora", serif;
    font-size: 40px;
    font-weight: bold;
}
nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li{
    margin-right: 80px;
    margin-top: 5px;
    display: inline-block;
}

nav ul li::after{
    content: '';
    width:0%;
    height: 2px;
    background: rgb(111, 169, 255);
    display: block;
    margin: auto;
    transition: 0.5s;

}
nav ul li:hover::after{
    transform: translateY(1px);
    width:100%;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-family: "Roboto", serif;
    font-size: 17px;

    transition: 0.7s;
}
nav ul li a:hover{
    color:rgb(111, 169, 255);
    font-size: 20px;
}


nav ul li button{
    margin-top: -10px;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 45px;

    color: white;
    font-family: "Roboto", serif;
    font-size: 17px;

    background:none;

    cursor: pointer;

    transition: 1s;
}
nav ul li button:hover{
    color:rgb(111, 169, 255);
    font-size: 20px;
}
.batchList{

    margin-top: 9%;
    margin-left: 15%;

    display: flex;
}

.batch{
    width: 220px;
    height: 200px;
    background-color: white;
    border-radius: 25px;
    box-shadow:  5px 5px rgba(0, 0, 0, 0.35);

    color: black;
    font-family: "Roboto", serif;

    text-align: center;

    overflow: hidden;

    transition: 1s;
}

.batch h1{
    font-size: 90px;
    padding-top: 36px;
    transition: 1s;
}

.foot{
    margin-top: 10px;
    padding-top: 15px;
    width:220px;
    height: 55px;
    background-color: rgb(2, 28, 107);
    color: white;
    font-size: 18px;
    font-weight: 600;
    transition: 1s;
}


.batch:hover h1{
    font-size: 95px;
}
.batch:hover .foot{
    width:225px;
    height: 60px;
    font-size: 25px;
    padding-top: 10px
}

.const{
    margin-top: 7px;
    font-size: 150px;
    font-family: "Roboto", serif;
    font-weight: bolder;
    margin-right: 20px;

}

.slide{

    position: absolute;

    transition: 1s;

}

.batchSlides{
    width: 220px;
    height: 200px;
    border-radius: 25px;

    overflow: hidden;

    position: relative;
}

.batchListMain button{
    rotate: -90deg;
    cursor: pointer;
    transition: 0.5s;
}
.batchListMain button:hover{
    font-size: 130px ;
    width: 70px;
    height: 230px ;

}

.prev{
    position: absolute;
    width: 60px;
    height: 220px ;
    transform: translate(150px,70px);
    
    font-family:"Roboto", serif;
    font-size: 100px;
    text-align: center;
    color: white;

    background: none;
    border: none;
}

.next{
    position: absolute;
    width: 60px;
    height: 220px ;
    transform: translate(70px,74px);
    
    font-family:"Roboto", serif;
    font-size: 100px;
    text-align: center;
    color: white;

    background: none;
    border: none;
}

.name{
    margin-top: 70px;
    margin-left: 50px;
    padding-top: 4px;
    font-family:"Roboto", serif;
    font-size: 40px;
    width: 10px;
    height: 10px;
}

.nameBox{
    width: 250px;
    height: 55px;

    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;

    background-color: rgb(69, 142, 253);
    text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.487);

    animation-name: flyin;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-delay: 0.3s;
   
}

@keyframes flyin{
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0px);
    }
}

.main{
    display: flex;
}